<turbo-frame id="study_materials_content">
  <%= render partial: "index", locals: { study_materials: @study_materials, study_material: @study_material } %>
</turbo-frame>

<div data-study-material-target="modal" class="hidden fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
  <div class="bg-black p-6 rounded-lg w-5/6 max-h-[90vh] overflow-y-auto border border-indigo-900">

    <turbo-frame id="study_material_modal">
      <%= render "form", study_material: @study_material %>
    </turbo-frame>

    <button class="mt-4 bg-indigo-900 hover:bg-indigo-800 text-white px-4 py-2 rounded" data-action="click->study-material#close">
      Close
    </button>
  </div>
</div>